{% extends 'base.html' %}
{% load static %}
{% block title_block %}The Usos Modern Project {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/project.css' %}">

     <h4>Hello! We are looking for developers</h4>
    <div  class="col s12 m12 offset-m1 l9">
          <img class="col offset-m1 offset-l1 s12 m8 l8" src="{% static '/images/homepage/looking-for-a-job.jpg' %}">
          <div class="col s12 m8 l8 offset-m1 offset-l1">
               <h5>USOS Modern Website team is looking for enthusiastic developers and testers.</h6>
               <p>We believe that high quality, innovative software is built by craftsmen in a collaborative workshop environment, rather than by workers on an assembly line. Our team values passion and dedication over drudgery and busywork. To us, crafting software is a way of life, not just a job. If you share our passion for breaking new ground every day, while delivering cutting edge software solutions, and are driven to continuously improve your craft while striving for perfection each and every day, then we may have a spot for you in our high growth, startup company. </p>
                 
               
               <p>If you are selected to join our team, you will have the opportunity to work with a wide array of languages and technologies, learn and leverage agile practices, work on various layers of the architecture stack, build awesome web and mobile apps, and learn to love the safety of a well-written automated test. </p>
                 <p>If you consider yourself a developer coding in Python and Javascript, and you're not necesserarily experienced - this may be a job for you! Apply with a reference: "Web developer". Please see 'Contact' session in the footer to find details.</p>
               
               <p>If you consider yourself a developer coding in Java or Swift, and you're not necesserarily experienced - this may be a job for you!Apply with a reference: "Mobile app's developer". Please see 'Contact' session in the footer to find details.</p>  
          </div>
          </div>
     
          

  
     {% endblock %}