{% extends 'base.html' %}
{% load static %}
{% block title_block %}The Usos Modern Project {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/project.css' %}">
<div id="info" class="col s12 l9">
     <h2>Welcome to Usos Modern&trade; project page</h2>
     <h5>Here you can find all the useful links and information.</h5>
<p> Usos modern is a mobile app, created for those lucky enough to study in Poland. It's major function is ability to synchronise with infamous USOS system("Uniwersytecki System Obsugi Studenta") and make using it less stressful, and thus, your studuying experience, more joyful!</p>
<p> However, it also has many more useful functions, so not only registered students can use it. Try USOS Modern as your scheduling app!</p>

<ul class="collection with-header">
        <li class="collection-header"><h5>Supported functions so far:</h5></li>
<li class="collection-item"><span class="red accent-4">**WARNING**</span> Registering is NOT possible through USOS Modern, as it is NOT possible through USOS itself. Please contact your university's office for details and registering issues!</li>
    <li class="collection-item">Logging into USOS</li>
    <li class="collection-item">Downloading your classes schedule</li>
    <li class="collection-item">Editing your schedule</li>
    <li class="collection-item">Adding new/empty schedule</li>
    <li class="collection-item">Sending enrolling requests for classes and deleting them</li>
    <li class="collection-item">Checking request's status</li>
</ul>
  </div>
{% endblock %}