{% extends 'base.html' %}
{% load static %}
{% block title_block %}The Usos Modern Project {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/promise.css' %}">

<h3>We Promise...</h3>
<div id="info" class="col s12 m8 l8">
<ul class="collection with-header">
     <li class="collection-header"><h5>To make Usos Modern&trade; better!<h5></li>
    <li class="collection-item">
         <h6>How?</h6>
         <p>We have our amazing issue Tracker, where you can browse, submit and upvote issues you have encountered while using the app!</p>
    </li>
    
        <li class="collection-item">
         <h6>Are USOS Modern's issues our priority?</h6>
         <p>YES! We treat all software issues ("bugs") seriously and always make fixing them our priority. No matter how much money we get for developing new features, we always care about improving existing ones, and we make sure our Users' data are kept safe.</p>
    </li>
    
      <li class="collection-item">
         <h6>How can I report an issue?</h6>
         <p>Firstly, you need to have an active account. Secondly, before submiting a new issue, please use search tool to make sure it hasn't been reported previously. It is very important, because...</p>
    </li>
     <li class="collection-item">
         <h6>Upvoting helps us keep track on app's issues and let us know, how many users encountered the problem.</h6>
         <p>The more upvotes an issue gets, the more serious it is! And we know, on what to work first. We also strongly insist to leave your device's specifications in comments.</p>
    </li>
    
    <li class="collection-header"><h5>To make Usos Modern&trade; even more than better!<h5></li>
         <li class="collection-item">
              <h6>How?</h6>
              <p>Again, use Issue Tracker to browse, submit, and upvote new, exciting features you would like to see in USOS Modern&trade; in the future! To do so, please upvote the features you like.</p>
          </li>
          <li class="collection-item">
              <h6>How can I support a feature?</h6>
              <p>To do it, just click "Upvote(add to cart)" button next to the feature's title in Issue Tracker. Then follow the steps on the screen, as you in any other online store!</p>
         </li>
         <li class="collection-item">
              <h6>Do I need to have an active account on the website to upvote features?</h6>
              <p> No, you can do it even without an active acccount, but please bear in mind that your cart's content won't last longer than your browser is open. Moreover, on your account you can keep track on your previous orders, so you will not pay for the same featre again...unless you wish to. :)</p>
         </li>
         <li class="collection-item">
              <h6>But how would I know you features I vote on will really appear in my favourite mobile app?</h6>
              <p> We promise to work on it! Click on <a href="{% url 'home:stats' %}">Statistics</a> to keep track on our most popular 'tickets', to see on which, and how long are we working now! Also, don't forget to check <a href="/blog/">the Blog</a> for updates!</p>
         </li>       
         
</ul>
  </div>
{% endblock %}