{% extends 'base.html' %}
{% load static %}
{% block title_block %} UM statistics {% endblock %}

{% block content %}
<div class="col s12 l6 offset-l1 tb">
  
  <div>
    <h3>Check out the most popular topics we're working on!</h3>
    
  </div>
  <!--Rendering charts-->
 <h5>Features popularity</h5>
  <div>
    {{ f_tickets|safe }}
  </div>  
  
   <p></p>
   
    <h5>Bugs popularity</h5>
  <div>
    {{ b_tickets|safe }}
  </div>
  <h5>How are we dealig with them?</h5>
    <div>
    {{ updates|safe }}
  </div>
  <p></p>
</div>
  <!--<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>  -->

{% endblock %}
