{% extends 'base.html' %}
{% load static %}
{% block title_block %} UM statistics {% endblock %}

{% block content %}
<div class="col s12 l8 tb">
  <div class="col s12 l10 offset-l1">
  <div>
    <h3>Check out the most popular topics we're working on!</h3>
    
  </div>
  <!--Rendering charts-->
 <h5>Features popularity</h5>
  <div>
    {{ f_tickets|safe }}
  </div>  
  
   <p></p>
   
    <h5>Bugs popularity</h5>
  <div>
    {{ b_tickets|safe }}
  </div>
  <h5>How are we dealing with them?</h5>
  </div>
  
    <div class="col s12 l10 offset-l1">
        <p id="large-font">Here you can find some of our updated tickets' results. Left 'arm' of each 'V' is the time from when the ticket was verified (the bottom dot is the verification date) until we started development. The right 'arm' is time it took for development. The wider the 'V' is, the more time we needed find a solution!</p>
        
    {{ updates|safe }}
 

   </div>
</div>



{% endblock %}
