{% extends 'base.html' %}
{% block content %}
<div class="col s12 l9 tb">
  <a href="" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add a ticket</a>

<div class="insider">

    <div class="nav-content">
      <ul class="tabs">
        <li class="tab deep-purple lighten-4"><a href="{% url 'tickets:all_tickets' %}" target="_self">All tickets</a></li>
        <li class="tab deep-purple lighten-4"><a href="{% url 'tickets:get_bugs' 'bugs' %}" target="_self">Bugs</a></li>
        <li class="tab  deep-purple lighten-4"><a href="{% url 'tickets:get_features' 'features' %}" target="_self">Features</a></li>
        <li class="tab deep-purple lighten-4"><a href="">News</a></li>
      </ul>
    </div>

    {% if messages %}
  <div>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
{% endif %}
{% block ticket_content %}

{% endblock %}


{% endblock %}