{% extends 'ticket_base.html' %}
{% block ticket_content %}

{% if tickets %}
<table>
<tr>
	<th>Ticket</th>
	<th>Issue</th>
	<th>Verified</th>
	<th>Status</th>
</tr>
<tr>
{% for ticket in tickets %}
 <td><a href="{% url 'ticket_details' ticket.id %}">#{{ ticket.id }}</a></td>
 <td>  {{ ticket.issue }} </td>
 {% if ticket.verified %}
 <td>Yes </td>
 {% else%}
 <td> No </td>
 {% endif %}
 <td>{{ ticket.status }}</td>
 </tr> 
{% endfor %}
</table>
{% else %}
<p>No tickets</p>
{% endif %}
{% endblock %}