{% extends 'ticket_base.html' %}
{% block ticket_content %}
    {% if messages %}
  <div>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}
<table>
     <tr>
       <th>Ticket</th>
       <th>Variety</th>
       <th>Issue</th>
       <th>Verified</th>
       <th>Status</th>
     </tr>
     <tr>
     
     <tr>
      <td>#{{ ticket.id }}</td>
      <td>{{ ticket.variety }}</td>
      <td>  {{ ticket.issue }} </td>
      {% if ticket.verified %}
      <td>Yes </td>
      {% else%}
      <td> No </td>
      {% endif %}
      <td>{{ ticket.status }}</td>
      </tr>
     
     <tr>
     <th>Description</th>
     <th>
     Created
     </th>
     <th>
     Upvotes
     </th>
     </tr>
     
     <tr>
       <td> {{ ticket.description }}</td>
         <td>
         {{ ticket.date_created }}
         </td>
         <td>
         {{ ticket.upvotes }}
           {% if ticket.status != 'done'%}
            {% if ticket.variety == 'B' %}
           <a href="{% url 'tickets:upvote_simple' ticket.id %}">Up</a>
            {% else %}
            <a href="{% url 'cart:add_to_cart' ticket.id %}">Up(add to cart)</a>
            {% endif %}
           {% endif %}
         </td>
     <tr>
</table>
 <div><span>Comments: {{ comments_quantity }}</span></div>
<div class="col l6">
   <form method="POST">
        <legend>Comment this ticket: </legend>
        {% csrf_token %}
        {{ form.user.as_hidden }}
        {{ form }}
        <a href="/" class="waves-effect waves-light btn"><i class="material-icons left">keyboard_backspace</i>Cancel</a>
        <button type="submit" name="_submit" class="btn">Comment</button>
  </form>

{% if comments %}
      <ul class="collection">
     {% for comment in comments %}
    
          <li class="collection-item avatar">
              <i class="material-icons circle">account_box</i>  
           <span class="title"><b><a href="{% url 'tickets:comment_details' comment.id %}">{{ comment.title }}</a></b></span>
           <p> {{ comment.content | slice:":30"  }}</p>
           <span>{{ comment.date_published }}</span>
          <a href="#" class="secondary-content">{{ comment.author }}</i></a>
            
           </li>
     {% endfor %}
 </ul>
{% endif %}
</div>
{% endblock %}