
{% extends 'base.html' %}
{% load static %}
{% block title_block %}Checkout {% endblock %}
{% block content %}
<h4>Checkout</h4>
<div class="col l8 ">
          
<table>
     <thead>
          <tr><th><h4>Your order</h4></th></tr>
           <tr>  
                <th>Issue</th>
               <th>Ticket ID</th>
               <th>Chosen donation</th>
          </tr>
     </thead>
     <tbody>
          {% for item in cart %}
               {% with item.ticket as ticket %}
          <tr>
               <td>{{ ticket.issue }}</td><td>#{{ ticket.id }}</td><td> £{{ item.donation }}</td>
               </tr>
               {% endwith %}
          {% endfor %}
          <tr><td><h6><b>Your Order Total is: £{{ cart.get_total }}</b></h6></td></tr>

    </table> 
     <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}<br>
          <input type="submit" class="btn btn-primary" value="Submit order">
     </form>

</div>
{% endblock %}