
{% extends 'base.html' %}
{% load static %}
{% block title_block %}Checkout {% endblock %}
{% block content %}


<div class="col s12 l9 tb">
<h4>Checkout</h4>
<div class="col l8 ">
          
<table>
     <thead>
          <tr><th><h4>Your order</h4></th></tr>
           <tr>  
                <th>Issue</th>
               <th>Ticket ID</th>
               <th>Chosen donation</th>
          </tr>
     </thead>
     <tbody>
          {% for item in cart %}
               {% with item.ticket as ticket %}
          <tr>
               <td>{{ ticket.issue }}</td><td>#{{ ticket.id }}</td><td> £{{ item.donation }}</td>
               </tr>
               {% endwith %}
          {% endfor %}
          <tr><td><h6><b>Your Order Total is: GBP {{ cart.get_total }}</b></h6></td></tr>

    </table> 
     <form method="POST">
           <legend>Payment Details</legend>
          <div id="credit-card-errors" style="display-none">
             <div class="alert-message block-message error" id="stripe-error-message"></div>
         </div>
          {% csrf_token %}
          {{ form.user.as_hidden }}
          {{ form.as_p }}
          <a href="{% url 'cart:cart_detail' %}" class="waves-effect waves-light btn"><span class="hide-on-med-and-down">Back to cart</span>
           <i class="material-icons white-text">keyboard_arrow_left</i>
           <i class="material-icons white-text">shopping_cart</i></a>
           <button type="submit" name="_submit" class="btn">Submit</button>
           
     </form>
</div>
</div>
{% endblock %}