{% extends 'base.html' %}
{% load static %}
{% block content %}
Username: {{ user.username }}
Email: {{ user.email }}
<div class="col s12 l9">

     <ul class="collapsible">
          <li>
          <div class="collapsible-header"><i class="material-icons">edit</i>Click to set or change your details</div>
          
               <form class="collapsible-body" method="POST">
                    {% csrf_token %}
                    {{ method_form.user.as_hidden }}
                    {{ method_form }}
          
                    <button type="submit">Save<i class="material-icons">send</i></button>
               </form>
          </li>
     </ul>

</div>
<script src="{% static 'js/collaps.js' %}"></script> 

{% endblock %}