{% extends 'base.html' %}
{% load static %}
    {% block title %}
    Your account
    {% endblock %}
{% block content %}
Username: {{ user.username }}
Email: {{ user.email }}
<div class="col s12 l9">

     <ul class="collapsible">
          <li>
          <div class="collapsible-header"><i class="material-icons">edit</i>Click to set or change your details</div>
          
               <form class="collapsible-body" method="POST">
                    {% csrf_token %}
                    {{ method_form.user.as_hidden }}
                    {{ method_form }}
          
                    <button type="submit">Save<i class="material-icons">send</i></button>
               </form>
          </li>
          
          <li>
          <div class="collapsible-header"><i class="material-icons">receipt</i>Click to see your orders</div>
          
               <div class="collapsible-body">
                    <ul>
                    {% for order in orders %}
                       <li>  {{ order }} </li>
                       <li>For tickets following: 
                            <ul>
                            {% for item in order.return_items %}
                                 <li>{{ item }}</li>
                            {% endfor %}
                            </ul>
                       </li>
                       
                    {% endfor %}
                    </ul>
               </div>
          </li>
     </ul>

</div>
<script src="{% static 'js/collaps.js' %}"></script> 

{% endblock %}