{% extends "base.html" %}
{% load static %}
{% block title_block %}Cart {% endblock %}

{% block content %}

<h3> Your shopping cart  </h3>
<h4>  You have   {{ cart|length }} items in your cart. </h4>
<h5><b> Please notice the minimum donation amount per ticket is £5.</b> </h5>
                    {% if cart|length %}
                        Your Order Total is:
                             {{ cart.get_total }}
                        {% else %}
                        Your cart is empty.
                    {% endif %}

<div class="col l8">
<table class="cart">
     <thead>
          <tr>
               <th>Feature</th>
               <th>Donation</th>
               <th>Remove</th>
          </tr>
     </thead>
     <tbody>
          {% for item in cart %}
          
          {% with ticket=item.ticket %}
          <tr>
               <td>{{ ticket.issue }}</td>
               <td>
                    
                    <form action="{% url 'cart:add_to_cart' ticket.id %}" method="post">
                         <div class="row">
                            <div class="col s3">
                         {% csrf_token %}
                        {{ item.update_donation_form.donation }}
                        {{ item.update_donation_form.update }}
                        </div>
                         <button type="submit" class="btn btn-sm"> Set donation </button>
                        </div>
                    </form>
               </td>
               <td><a href="{% url 'cart:cart_remove' ticket.id %}">Remove</a></td>
          </tr>
          {% endwith %}
          {% endfor %}          
     </tbody>
</table>
<p>
     <a class="btn btn-lg" href="{% url 'tickets:all_tickets' %}"> Continue browsing </a>
    
                    {% if cart|length > 0 %}
                    <h5><b> Your Order Total is: £{{ cart.get_total }}</b></h5>
     <a class="btn btn-lg" href="{% url 'checkout:order_create' %}"> Checkout </a>
     {% endif %}
     
</p>
</div>

{% endblock %}