{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title_block %} {% endblock %}</title>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="{% static "js/menu.js"%}"></script> 
                        {% include 'material/includes/material_css.html' %}
                                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static 'material/js/jquery.js' %}"></script>
   
    {% include 'material/includes/material_js.html' %}
    
    {% block title %}
    {% endblock %}
 </head>
 <body>
<main>
     <nav>
    	<div class="nav-wrapper">
          <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a href="/"><img class="hide-on-med-and-down" id="brand_blog" src="{% static '/images/homepage/um-logo-mobile.png' %}"></a>
     		<a href="{% url 'home:homepage' %}" class="brand-logo"><span class="hide-on-med-and-down">Usos Modern</span></a>
        <ul class="right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'accounts:your_account' %}"><span class="hide-on-med-and-down">Account</span><i class="material-icons">person</i></a></li>
          <li><a href="{% url 'accounts:logout' %}"><span class="hide-on-med-and-down">Logout</span><i class="material-icons">power_settings_new</i></a></li>
          {% else %}
          <li><a href="{% url 'accounts:login' %}"><span class="hide-on-med-and-down">Login</span><i class="material-icons">person</i></a></li>
          <li><a href="{% url 'accounts:register' %}"><span class="hide-on-med-and-down">Register</span><i class="material-icons">person_add</i></a></li>
          {% endif %}
          <li><a href="{% url 'cart:cart_detail' %}">
            <i class="fa" style="font-size:24px">&#xf07a;</i>
           <small id="items_num" class="badge red accent-4">{{ cart|length }}</small></a></li>
        </ul>
  		</div>
  	</nav> 
	  

    <!--hiding sidebar-->
<div id="mobile-demo" class="transparent  sidenav white-text center-align">
		<ul>
		    <li ><div class="deep-purple lighten-2 bd circular-div valign-wrapper"><a href="{% url 'home:homepage' %}"><img id="brand" src="{% static '/images/um-logo.png' %}"></a></div></li>
	   		<li ><div class="deep-purple lighten-4 bd rectangle-div"><a href="{% url 'home:project_info' %}">About UM app</a></div></li>
	   		<li><div class="deep-purple lighten-4 bd rectangle-div"><a href="/blog/">Blog</a></div></li>
	   		<li ><div class="deep-purple lighten-4 bd rectangle-div"><a href="{% url 'home:promise' %}">Our Promise</a></div></li>
	   		<li><div class="deep-purple lighten-3 bd rectangle-div"><a href="{% url 'tickets:all_tickets' %}">Issue Tracker</a></div></li>
	   		<li><div class="deep-purple lighten-3 bd rectangle-div"><a href="#">Statistics</a></div></li>
	   </ul>
</div>
  <!--The end of the sidebar-->

   <div class="row">
<div class="col l3 hide-on-med-and-down white-text">
<ul>
	   		<li ><div class="deep-purple lighten-4 bd rectangle-div"><a href="{% url 'home:project_info' %}">About UM app</a></div></li>
	   		<li><div class="deep-purple lighten-4 bd rectangle-div"><a href="/blog/">Blog</a></div></li>
	   		<li ><div class="deep-purple lighten-4 bd rectangle-div"><a href="{% url 'home:promise' %}">Our Promise</a></div></li>
	   		<li><div class="deep-purple lighten-3 bd rectangle-div"><a href="{% url 'tickets:all_tickets' %}">Issue Tracker</a></div></li>
	   		<li><div class="deep-purple lighten-3 bd rectangle-div"><a href="#">Statistics</a></div></li>
	   </ul>

</div>


{% block content %}

{% endblock %}
</div>
</main>
 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l5 s12">
                <h5 class="white-text">USOS modern website</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul class="list-unstyled">
                  <li><strong>Contact</strong></li>
                  <li class="grey-text text-lighten-3" href="#!">kajaths@gmail.com</li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/kajamiko">Github</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 KajaMiko
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

       <script src="{% static "js/menu.js"%}"></script> 
</body>
</html>