{% load static %}

<!DOCTYPE html>
<html>
<head>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="{% static "js/menu.js"%}"></script> 
                        {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
 </head>
 <body>

    
     <nav>
    	<div class="nav-wrapper">
          <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
     		<a href="/" class="brand-logo">Usos modern</a>
        <ul class="right">
          <li><a href="/accounts/login/"><span class="hide-on-med-and-down">Login</span><i class="material-icons">person</i></a></li>
          <li><a><span class="hide-on-med-and-down">Register</span><i class="material-icons">person_add</i></a></li>
        </ul>
  		</div>
  	</nav> 


	   

    <!--początek sidebara chowającego się-->

		<ul id="mobile-demo" class="sidenav">
	   		<li ><div class="deep-purple lighten-4 bd">Story</div></li>
	   		<li><div class="deep-purple lighten-4 bd">Blog</div></li>
	   		<li ><div class="deep-purple lighten-4 bd">Our Promise</div></li>
	   		<li><div class="deep-purple lighten-3 bd">Issue Tracker</div></li>
	   		<li><div class="deep-purple lighten-3 bd">Plans</div></li>
	   </ul>
  <!--koniec sidebara-->

   <div class="row">
<div class="col l3 hide-on-med-and-down">
<ul>
        <li ><div class="deep-purple lighten-4 bd">Story</div></li>
        <li><div class="deep-purple lighten-4 bd">Blog</div></li>
        <li ><div class="deep-purple lighten-4 bd">Our Promise</div></li>
        <li><div class="deep-purple lighten-3 bd">Issue Tracker</div></li>
        <li><div class="deep-purple lighten-3 bd">Plans</div></li>
     </ul>

</div>


{% block content %}

{% endblock %}
</div>
</div>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

       <script src="{% static "js/menu.js"%}"></script> 
</body>
</html>